.phoneIconButton {
  color: hsl(var(--color-text));

  &:hover,
  &:focus,
  &:focus-within {
    color: hsl(var(--color-text-alt));
  }

  & svg {
    vector-effect: non-scaling-stroke;

    & path {
      fill: none;
      stroke: currentColor;
      stroke-width: var(--spacing-2);
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
