.mb-2 {margin-bottom: var(--spacing-2);}
.mb-4 {margin-bottom: var(--spacing-4);}
.mb-6 {margin-bottom: var(--spacing-6);}
.mb-8 {margin-bottom: var(--spacing-8);}
.mb-10 {margin-bottom: var(--spacing-10);}
.mb-12 {margin-bottom: var(--spacing-12);}
.mb-14 {margin-bottom: var(--spacing-14);}
.mb-16 {margin-bottom: var(--spacing-16);}
.mb-18 {margin-bottom: var(--spacing-18);}
.mb-20 {margin-bottom: var(--spacing-20);}
.mb-22 {margin-bottom: var(--spacing-22);}
.mb-24 {margin-bottom: var(--spacing-24);}
.mb-30 {margin-bottom: var(--spacing-30);}
.mb-40 {margin-bottom: var(--spacing-40);}
.mb-44 {margin-bottom: var(--spacing-44);}
.mb-50 {margin-bottom: var(--spacing-50);}
.mb-60 {margin-bottom: var(--spacing-60);}
