@use '@/styles/abstracts/mixins' as *;

.body-text { @include body-text;}

.very-light { font-weight: var(--fw-100);}
.extra-light { font-weight: var(--fw-200);}
.light { font-weight: var(--fw-300);}
.normal { font-weight: var(--fw-400);}
.bold { font-weight: var(--fw-700);}


.lh-16 { line-height: var(--lh-16);}
.lh-18 { line-height: var(--lh-18);}
.lh-20 { line-height: var(--lh-20);}
.lh-22 { line-height: var(--lh-22);}
.lh-24 { line-height: var(--lh-24);}
.lh-26 { line-height: var(--lh-26);}
.lh-28 { line-height: var(--lh-28);}
.lh-30 { line-height: var(--lh-30);}
.lh-32 { line-height: var(--lh-32);}
.lh-34 { line-height: var(--lh-34);}
.lh-36 { line-height: var(--lh-36);}
.lh-38 { line-height: var(--lh-38);}
.lh-40 { line-height: var(--lh-40);}
.lh-42 { line-height: var(--lh-42);}
.lh-44 { line-height: var(--lh-44);}
.lh-46 { line-height: var(--lh-46);}
.lh-48 { line-height: var(--lh-48);}
.lh-50 { line-height: var(--lh-50);}
.lh-52 { line-height: var(--lh-52);}
.lh-54 { line-height: var(--lh-54);}
.lh-56 { line-height: var(--lh-56);}
.lh-58 { line-height: var(--lh-58);}
.lh-60 { line-height: var(--lh-60);}