@use '@/styles/abstracts/mixins' as *;

.body-text { @include body-text;}

.very-light { font-weight: var(--fw-100);}
.extra-light { font-weight: var(--fw-200);}
.light { font-weight: var(--fw-300);}
.normal { font-weight: var(--fw-400);}
.bold { font-weight: var(--fw-700);}
