@use '@/styles/abstracts/mixins' as *;


.footer {
  background-color: hsl(var(--color-bg));
  padding: var(--spacing-24) var(--spacing-44);
  border-top: var(--border-standard);
  container-type: inline-size;          

  @include breakpoint(laptop) {
    padding: var(--spacing-60) var(--spacing-120);
  }
}


.footer__inner {
  max-width: 118em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: center;
  text-align: center;
}


@container (min-width: 1300px) {     
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    gap: var(--spacing-30);
  }
}


.footer__nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
  }
}

.footer__legal {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer__branding {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: .875rem;
}
