@use '@/styles/abstracts/mixins/accessibility' as *;

@mixin inputGroup {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin inputArea {
    width: 100%;
  margin: var(--spacing-44) auto;
  padding: var(--spacing-44) var(--spacing-16);
  border: var(--border-standard);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) inset;
  border-radius: 0.75ch;
  background-color: hsl(var(--color-bg-secondary));
  font-size: var(--fs-h6);
  font-weight: var(--fw-600);
  letter-spacing: var(--spacing-2);
  transition: all 0.2s ease-in-out;

  &::placeholder {
    font-size: var(--fs-small);
    font-weight: var(--fw-400);
    letter-spacing: 0;
    text-align: center;
    color: hsl(var(--color-text-light));
    opacity: 0.7;
  }

  &:hover,
  &:focus-within,
  &:focus {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15) inset;
  }

  &:focus-within,
  &:focus {
    @include focused;
    outline-width: 3px;
  }

  @media (forced-colors: active) {
    &:focus-within,
    &:focus {
      outline: 3px solid SelectedItem;
    }
  }
}