@use '@/styles/abstracts/mixins/' as *;

.cta-btn {
  @include btnBase(var(--spacing-8), var(--spacing-16));
  background-color: hsl(var(--color-bg-alt));
  color: hsl(var(--color-text-alt));
}

.icon-modal-btn-primary {
  @include iconModalBtn(hsl(var(--color-text-alt)));
  @extend .cta-btn;
}

.icon-modal-btn-secondary {
  @include iconModalBtn(hsl(var(--color-text)));
  color: hsl(var(--color-text));

  &:hover,
  &:focus,
  &:focus-within {
    color: hsl(var(--color-text-alt));
  }

  & svg {
    vector-effect: non-scaling-stroke;

    & path {
      fill: none;
      stroke: currentColor;
      stroke-width: var(--spacing-2);
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
