:root {
  --color-bg: 0 0% 92%; // #EBEBEB
  --color-bg-secondary: 239 23% 91%; // #E2E3ED
  --color-bg-alt: 239 87% 14%; // #050645
  --color-bg-alt-hover: 239 24% 14%; // #272740
  --color-bg-disabled: 239 15% 34%; // #494A62

  --color-text: 239 87% 14%; // #050645
  --color-text-hover: 239 24% 14%; // #272740
  --color-text-light: 0 0% 36%; // #5C5C5C
  --color-text-disabled: 0 0% 62%; // #9D9D9D
  --color-text-alt: 0 0% 92%; // #EBEBEB

  --color-primary: 239 87% 14%; // #050645
  --color-accent: 0 90% 30%; // #900808

  --gradient-primary: hsl(var(--color-primary));
  --gradient-accent: hsl(var(var(--color-accent)));

  --shadow-gradient: linear-gradient(
    0deg,
    hsl(var(--color-primary) / 0.5) 0%,
    hsl(var(--color-accent) / 0.5) 100%
  );
}

/* Dark Theme */
[data-theme='dark'] {
  --color-bg: 239 74% 8%;
  --color-bg-secondary: 239 44% 14%;
  --color-bg-alt: 239 2% 94%;
  --color-bg-alt-hover: 239 60% 92%;
  --color-bg-disabled: 239 15% 50%;

  --color-text: 0 0% 92%;
  --color-text-hover: 239 78% 98%;
  --color-text-light: 0 0% 70%;
  --color-text-disabled: 0 0% 50%;
  --color-text-alt: 239 87% 14%;

  --color-primary: 239 87% 14%;
  --color-accent: 0 75% 57%;
}
