:root {
    --h-100: 6.25rem;
    --h-200: 12.5rem;
    --h-300: 18.75rem;
    --h-400: 25rem;
    --h-500: 31.25rem;
    --h-600: 37.5rem;
    --h-700: 43.75rem;
    --h-800: 50rem;
    --h-900: 56.25rem;
    --h-1000: 62.5rem;
    --h-1100: 68.75rem;
    --h-1200: 75rem;
    --h-1300: 81.25rem;
    --h-1400: 87.5rem;
    --h-1500: 93.75rem;
    --h-1600: 100rem;
    --h-1700: 106.25rem;
    --h-1800: 112.5rem;
    --h-1900: 118.75rem;
    --h-2000: 125rem;
}