:root {
    --w-100: 6.25rem;
    --w-200: 12.5rem;
    --w-300: 18.75rem;
    --w-400: 25rem;
    --w-500: 31.25rem;
    --w-600: 37.5rem;
    --w-700: 43.75rem;
    --w-800: 50rem;
    --w-900: 56.25rem;
    --w-1000: 62.5rem;
    --w-1100: 68.75rem;
    --w-1200: 75rem;
    --w-1300: 81.25rem;
    --w-1400: 87.5rem;
    --w-1500: 93.75rem;
    --w-1600: 100rem;
    --w-1700: 106.25rem;
    --w-1800: 112.5rem;
    --w-1900: 118.75rem;
    --w-2000: 125rem;
    --w-2100: 131.25rem;
    
}