@use '@/styles/abstracts/mixins' as *;

.gridColSection {
    @include gridColToRow;
    width: 100%;

    @include breakpoint(laptop) {
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-44);
    }

}