@use '@/styles/abstracts/mixins' as *;

.inputGroup {
  @include inputGroup;

  &:hover .hint {
    opacity: 1;
    pointer-events: auto;
  }
}

.textInput {
  @include inputArea;
}

.hint {
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 100%;
  padding: var(--spacing-6) var(--spacing-20);
  border: 1px solid #000;
  border-radius: var(--spacing-8);
  background-color: hsl(var(--color-bg-secondary));
  text-align: center;
  font-size: var(--fs-small);
  color: hsl(var(--color-text));
  transform: translateX(-25%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
